<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cautiously</key>
	<string>adverb</string>
	<key>swiftly</key>
	<string>adverb</string>
	<key>suddenly</key>
	<string>adverb</string>
	<key>unexpectedly</key>
	<string>adverb</string>
	<key>slowly</key>
	<string>adverb</string>
	<key>reluctantly</key>
	<string>adverb</string>
	<key>quitely</key>
	<string>adverb</string>
	<key>disruptly</key>
	<string>adverb</string>
	<key>accidentally</key>
	<string>adverb</string>
	<key>acidly</key>
	<string>adverb</string>
	<key>afterwards</key>
	<string>adverb</string>
	<key>almost</key>
	<string>adverb</string>
	<key>anxiously</key>
	<string>adverb</string>
	<key>awkwardly</key>
	<string>adverb</string>
	<key>beatifully</key>
	<string>adverb</string>
	<key>boldly</key>
	<string>adverb</string>
	<key>bravely</key>
	<string>adverb</string>
	<key>calmly</key>
	<string>adverb</string>
	<key>carefully</key>
	<string>adverb</string>
	<key>carelessly</key>
	<string>adverb</string>
	<key>certainly</key>
	<string>adverb</string>
	<key>cheerfully</key>
	<string>adverb</string>
	<key>closely</key>
	<string>adverb</string>
	<key>delightfully</key>
	<string>adverb</string>
	<key>deeply</key>
	<string>adverb</string>
	<key>defiantly</key>
	<string>adverb</string>
	<key>deliverately</key>
	<string>adverb</string>
	<key>easily</key>
	<string>adverb</string>
	<key>equally</key>
	<string>adverb</string>
	<key>even</key>
	<string>adverb</string>
	<key>eventually</key>
	<string>adverb</string>
	<key>exactly</key>
	<string>adverb</string>
	<key>excitedly</key>
	<string>adverb</string>
	<key>fairly</key>
	<string>adverb</string>
	<key>far</key>
	<string>adverb</string>
	<key>foolishly</key>
	<string>adverb</string>
	<key>fortunately</key>
	<string>adverb</string>
	<key>frightfully</key>
	<string>adverb</string>
	<key>fully</key>
	<string>adverb</string>
	<key>furiously</key>
	<string>adverb</string>
	<key>generously</key>
	<string>adverb</string>
	<key>gently</key>
	<string>adverb</string>
	<key>gladly</key>
	<string>adverb</string>
	<key>gracefully</key>
	<string>adverb</string>
	<key>gratefully</key>
	<string>adverb</string>
	<key>greedily</key>
	<string>adverb</string>
	<key>happily</key>
	<string>adverb</string>
	<key>heavily</key>
	<string>adverb</string>
	<key>helplessly</key>
	<string>adverb</string>
	<key>honestly</key>
	<string>adverb</string>
	<key>hopelessly</key>
	<string>adverb</string>
	<key>hungrily</key>
	<string>adverb</string>
	<key>immediately</key>
	<string>adverb</string>
	<key>innocently</key>
	<string>adverb</string>
	<key>instantly</key>
	<string>adverb</string>
	<key>intently</key>
	<string>adverb</string>
	<key>interestingly</key>
	<string>adverb</string>
	<key>accepts</key>
	<string>verb</string>
	<key>admires</key>
	<string>verb</string>
	<key>alerts</key>
	<string>verb</string>
	<key>amuses</key>
	<string>verb</string>
	<key>appears</key>
	<string>verb</string>
	<key>ages</key>
	<string>verb</string>
	<key>arrives</key>
	<string>verb</string>
	<key>answers</key>
	<string>verb</string>
	<key>attacks</key>
	<string>verb</string>
	<key>backs</key>
	<string>verb</string>
	<key>bathes</key>
	<string>verb</string>
	<key>believes</key>
	<string>verb</string>
	<key>blocks</key>
	<string>verb</string>
	<key>calls</key>
	<string>verb</string>
	<key>cares</key>
	<string>verb</string>
	<key>circles</key>
	<string>verb</string>
	<key>climbs</key>
	<string>verb</string>
	<key>comes</key>
	<string>verb</string>
	<key>courts</key>
	<string>verb</string>
	<key>cries</key>
	<string>verb</string>
	<key>dances</key>
	<string>verb</string>
	<key>dies</key>
	<string>verb</string>
	<key>falls</key>
	<string>verb</string>
	<key>fears</key>
	<string>verb</string>
	<key>feels</key>
	<string>verb</string>
	<key>fights</key>
	<string>verb</string>
	<key>flies</key>
	<string>verb</string>
	<key>goes</key>
	<string>verb</string>
	<key>attractive</key>
	<string>adjective</string>
	<key>angry</key>
	<string>adjective</string>
	<key>big</key>
	<string>adjective</string>
	<key>bald</key>
	<string>adjective</string>
	<key>ambitious</key>
	<string>adjective</string>
	<key>bewildered</key>
	<string>adjective</string>
	<key>colossal</key>
	<string>adjective</string>
	<key>beautiful</key>
	<string>adjective</string>
	<key>brave</key>
	<string>adjective</string>
	<key>clumsy</key>
	<string>adjective</string>
	<key>fat</key>
	<string>adjective</string>
	<key>chubby</key>
	<string>adjective</string>
	<key>calm</key>
	<string>adjective</string>
	<key>defeated</key>
	<string>adjective</string>
	<key>clean</key>
	<string>adjective</string>
	<key>delightful</key>
	<string>adjective</string>
	<key>embarassed</key>
	<string>adjective</string>
	<key>dazzling</key>
	<string>adjective</string>
	<key>fierce</key>
	<string>adjective</string>
	<key>drab</key>
	<string>adjective</string>
	<key>faithful</key>
	<string>adjective</string>
	<key>grumpy</key>
	<string>adjective</string>
	<key>immense</key>
	<string>adjective</string>
	<key>elegant</key>
	<string>adjective</string>
	<key>gentle</key>
	<string>adjective</string>
	<key>helpless</key>
	<string>adjective</string>
	<key>large</key>
	<string>adjective</string>
	<key>fancy</key>
	<string>adjective</string>
	<key>happy</key>
	<string>adjective</string>
	<key>little</key>
	<string>adjective</string>
	<key>fit</key>
	<string>adjective</string>
	<key>jolly</key>
	<string>adjective</string>
	<key>jealous</key>
	<string>adjective</string>
	<key>massive</key>
	<string>adjective</string>
	<key>flabby</key>
	<string>adjective</string>
	<key>glamorous</key>
	<string>adjective</string>
	<key>gorgeous</key>
	<string>adjective</string>
	<key>magnificent</key>
	<string>adjective</string>
	<key>muscular</key>
	<string>adjective</string>
	<key>plain</key>
	<string>adjective</string>
	<key>plump</key>
	<string>adjective</string>
	<key>scruffy</key>
	<string>adjective</string>
	<key>shapely</key>
	<string>adjective</string>
	<key>skinny</key>
	<string>adjective</string>
	<key>stocky</key>
	<string>adjective</string>
	<key>unkempt</key>
	<string>adjective</string>
	<key>unsightly</key>
	<string>adjective</string>
	<key>kind</key>
	<string>adjective</string>
	<key>lively</key>
	<string>adjective</string>
	<key>nice</key>
	<string>adjective</string>
	<key>obedient</key>
	<string>adjective</string>
	<key>polite</key>
	<string>adjective</string>
	<key>proud</key>
	<string>adjective</string>
	<key>silly</key>
	<string>adjective</string>
	<key>thankful</key>
	<string>adjective</string>
	<key>victorious</key>
	<string>adjective</string>
	<key>witty</key>
	<string>adjective</string>
	<key>wonderful</key>
	<string>adjective</string>
	<key>zealous</key>
	<string>adjective</string>
	<key>lazy</key>
	<string>adjective</string>
	<key>mysterious</key>
	<string>adjective</string>
	<key>nervous</key>
	<string>adjective</string>
	<key>obnozious</key>
	<string>adjective</string>
	<key>panicky</key>
	<string>adjective</string>
	<key>pitiful</key>
	<string>adjective</string>
	<key>repulsive</key>
	<string>adjective</string>
	<key>scary</key>
	<string>adjective</string>
	<key>thoughtless</key>
	<string>adjective</string>
	<key>uptight</key>
	<string>adjective</string>
	<key>worried</key>
	<string>adjective</string>
	<key>petite</key>
	<string>adjective</string>
	<key>puny</key>
	<string>adjective</string>
	<key>scrawny</key>
	<string>adjective</string>
	<key>short</key>
	<string>adjective</string>
	<key>small</key>
	<string>adjective</string>
	<key>tall</key>
	<string>adjective</string>
	<key>tiny</key>
	<string>adjective</string>
	<key>explores</key>
	<string>verb</string>
	<key>describes</key>
	<string>verb</string>
	<key>evokes</key>
	<string>verb</string>
	<key>celebrates</key>
	<string>verb</string>
	<key>reveals</key>
	<string>verb</string>
	<key>laments</key>
	<string>verb</string>
	<key>confesses</key>
	<string>verb</string>
	<key>exposes</key>
	<string>verb</string>
	<key>challenges</key>
	<string>verb</string>
	<key>creates</key>
	<string>verb</string>
	<key>captures</key>
	<string>verb</string>
	<key>shines</key>
	<string>verb</string>
	<key>burns</key>
	<string>verb</string>
</dict>
</plist>
